.nav nav ul li a {
    /* display: block; */
    color: #ff0000;
    text-decoration: none;
    padding: 10px 15px;
}

.nav nav ul li a:hover {
    background-color: #ff0000;
    color: #fff;
    border-radius: 10px;
}

/* make it a bit subtle */
.nav nav ul li a:active {
    background-color: #ff0000;
    color: #fff;
    border-radius: 10px;
}

.nav nav ul li {
    list-style: none;
    display: inline-flex;
}

.nav {
    width: 100%;
    background-color: black;
    border: 2px solid red;
    box-sizing: border-box;
}

.nav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #ff0000;
    margin: 10px;
    padding: 0px 10px;
}

.nav .logo h1{
    color: #ff0000;
    font-size: 30px;
    font-weight: bold;
    margin: 14px auto;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav .logo h1 a {
    /* color: #ff0000; */
    text-decoration: none;
    padding: 10px 25px;
}

.nav .logo h1 a:hover {
    color: #fff;
    text-decoration: underline;
}
