body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html{
  /* background-image: linear-gradient(180deg, #EAE3D2, #A8A4CE);
        background-repeat: repeat-y;
        background-size: 100% ; */
        background-color: #B8B3CE;
        /* padding: 0px; */
        /* margin-right: -13px;
        overflow: hidden; */
        overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
